<%
  const i18n = config.i18n
%>

<!DOCTYPE html>
<html lang="<%= config.locale %>">
  <head>
    <%- include('commenHead') %>
    <title><%=i18n.title %></title>
  </head>
  <body>
    <div class="container">
      <%- include('header', {i18n}) %>
      <hr />
      
      <%- i18n.finish.html %>
      
      [<a href="/sessiondone"><%= i18n.finish.ok %></a>]
      
    </div>
  </body>
</html>
