<%
  const i18n = config.i18n
  const highscore = i18n.highscore
%>

<!DOCTYPE html>
<html lang="<%=config.locale%>">
  <head>
    <%- include('commenHead') %>
    <title><%= i18n.title + ' - ' + highscore.title %></title>
  </head>
  <body>
    <div class="container">
      <%- include('header', {i18n}) %>
      <% if (user) { %>
        <%- include('status', {i18n,user}) %>
      <% } %>
      <hr />
      <h2><%= highscore.title %></h2>
      
      <div style=height:25px></div>
      
      <% if (user && user.RoomId) { %>
        <p>[<a href="/roomscore"><%=highscore.showRoomScore%></a>]</p>
      <% } %>
      
      <div style=height:25px></div>
      
      <%- include('highscoreTable', {users, highscore, user}) %>
      
      <div style="height:40px"></div>
      
      <p><a href="/<%= user ? 'map' : ''%>" class="btn btn-primary"><%= i18n.back %></a></p>
      
      <div style="height:40px"></div>
    </div>
  </body>
</html>
