<% if (users.length == 0) { %>
  <p><%= highscore.empty%></p>
<% } else { %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><%= highscore.rank %></th>
        <th scope="col"><%= highscore.name %></th>
        <th scope="col"><%= highscore.score %></th>
        <th scope="col"><%= highscore.lastActive %></th>
      </tr>
    </thead>
    <tbody>
      <% for (const user of users) { %>
        <tr <false?'class="active"':''%>>
          <td><%=user.rank%></td>
          <td><%=user.name%></td>
          <td><%=user.score%></td>
          <td><%=user.lastActive%></td>
        </tr>
      <% } %>
    </tbody>
  </table>
  
<% } %> 
