<% if (users.length == 0) { %>
  <p><%= t.empty%></p>
<% } else { %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><%= t.rank %></th>
        <th scope="col"><%= t.name %></th>
        <th scope="col"><%= t.score %></th>
        <th scope="col"><%= t.lastActive %></th>
      </tr>
    </thead>
    <tbody>
      <% for (const row of users) { %>
        <tr <%- (user && row.name === user.name) ? 'class="table-primary"' : '' %>>
          <td><%=row.rank%></td>
          <td><%=row.name%></td>
          <td><%=row.score%></td>
          <td><%=row.lastActive%></td>
        </tr>
      <% } %>
    </tbody>
  </table>
<% } %> 
