<% const i18n = config.i18n %>

<!DOCTYPE html>
<html lang="<%= config.locale %>">
  <head>
    <%- include('commenHead') %>
    <title><%= i18n.title %></title>
  </head>
  <body>
    <div class="container">
    
      <%- include('header', {i18n}) %>
      
      <hr />
      
      <% if (invalidLogin) { %>
        <div class="alert alert-danger"><p><%= i18n.login.invalid %></p></div>
      <% } %>
      
      <h3><%= i18n.login.title %></h3>
      
      <form action="/login" method="post" autocomplete="off">
        <label><%= i18n.login.name %> <input type="text" name="username" value=""/></label>
        <label><%= i18n.login.password %> <input type="password" name="password" value=""/></label>
        <input type="submit" value="<%= i18n.login.go %>"/>
      </form>
      
      <hr />
      
      <p><%= i18n.invite %> <a href="/register"><%= i18n.register %></a>
      </p>
      
      <div style="height:20px"></div>
      
      <p><a href="/highscore"><%= i18n.enterRoom %></a></p>
      
      <hr>
      
      <h3><%= i18n.hackerOfTheMonth %></h3>
      
      <div style="height:20px"></div>
      
      <p>1. Master Yi</p>
      
      <p>2. Master Yi</p>
      
      <p>3. Master Yi</p>
      
      <p>4. Master Yi</p>
      
      <p>5. Master Yi</p>
      
      <p>6. Master Yi</p>
      
      <p>7. Master Yi</p>
      
      <p>8. Master Yi</p>
      
      <p>9. Master Yi</p>
      
      <p>10. Master Yi</p>
      
      <div style="height:20px"></div>
      
      <p>[<a href="/highscore"><%= i18n.showHighscore %></a>]</p>
      
      <hr>
      
      <div style="height:150px"></div>
      
      <p><%= i18n.inviteOrga %> <a href="/highscore"><%= i18n.createRoom %></a>.</p>
      
      <div style="height:150px"></div>
      
      <hr>
      
      <p><a href="/kontakt"><%= i18n.contact %></a> | <a href="/datenschutz"><%= i18n.privacy %></a> | <a href="https://github.com/Entkenntnis/hack-engine" target="_blank"><%= i18n.github %></a></p>
      
    </div>
  </body>
</html>
