<% const i18n = config.i18n %>

<!DOCTYPE html>
<html lang="<%= config.locale %>">
  <head>
    <%- include('commenHead') %>
    <title><%= i18n.title %></title>
  </head>
  <body>
    <div class="container">
    
      <%- include('header', {i18n}) %>
      
      <hr />
      
      <% if (invalidLogin) { %>
        <div class="alert alert-danger"><p><%= i18n.login.invalid %></p></div>
      <% } %>
      
      <h2><%= i18n.login.title %></h2>
      
      <form action="/login" method="post" autocomplete="off">
        <label><%= i18n.login.name %> <input type="text" name="username" value=""/></label>
        <label><%= i18n.login.password %> <input type="password" name="password" value=""/></label>
        <input type="submit" value="<%= i18n.login.go %>"/>
      </form>
      
      <hr />
      
      <p><%= i18n.invite %> <a href="/register"><%= i18n.registerLink %></a>
      </p>
      
      <div style="height:20px"></div>
      
      <p><a href="/join"><%= i18n.joinRoom %></a></p>
      
      <hr>
      
      <div style="height:30px"></div>
      
      <h3><%= i18n.hackerOfTheMonth %></h3>
      
      <div style="height:20px"></div>
      
      <%- include('highscoreTable', {users, highscore: i18n.highscore}) %>
      
      <div style="height:50px"></div>
      
      <p>[<a href="/highscore"><%= i18n.showHighscore %></a>]</p>
      
      <div style="height:30px"></div>
      
      <hr>
      
      <div style="height:250px"></div>
      
      <p><%= i18n.inviteOrga %> <a href="/create"><%= i18n.createRoom %></a>.</p>
      
      <div style="height:50px"></div>
      
      <hr>
      
      <p><a href="/contact"><%= i18n.contactLink %></a> | <a href="/privacy"><%= i18n.privacyLink %></a> | <a href="https://github.com/Entkenntnis/hack-engine" target="_blank"><%= i18n.github %></a></p>
      
    </div>
  </body>
</html>
