<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="<%=App.config.urlPrefix%>/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="<%=App.config.urlPrefix%>/favicon.ico" type="image/x-icon"/>

    <!-- Bootstrap -->
    <link href="<%=App.config.urlPrefix%>/theme/<%= App.config.theme %>.min.css" rel="stylesheet">

    <title><%= title %></title>
    
    <style>
      h1 {
        font-size: 3em;
        margin: 40px 0 20px 0;
      }
      .page-header {
        margin-bottom: 30px;
      }
      .lead {
        font-size: 1.5em;
      }
      .table th {
        border-top: none;
      }
      h2 {
        margin-bottom: 16px;
      }
      form {
        margin-top: 30px;
      }
    </style>
  </head>
  <body>
    <div class="container">
    
      <% if (user) { %>
        <%- include('./statusBar', {user, t, prefix: App.config.urlPrefix}) %>
      <% } %>
      
      <div class="page-header">
        <h1><a href="<%=App.config.urlPrefix%>/"><%= brand %></a></h1>
        <p class="lead"><%= slogan %></p>
      </div>
      
      <hr class="my-4"/>
    
      <% const content = include('./pages/' + page, {props, t, user, App, prefix: App.config.urlPrefix}) %>
    
    <% if (!outsideOfContainer) { %>
      <%- content %>
      
      <% if (backButton) { %>
        <p style="margin-top:40px;margin-bottom:40px;">
          <a href="<%=App.config.urlPrefix%>/" class="btn btn-primary btn-sm"><%= t('back') %></a>
        </p>
      <% } %>
    </div>
    <% } else { %>
    </div>
    <%- content %>
    <% } %>
  </body>
</html>
 
