<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

    <!-- Bootstrap -->
    <link href="/theme/<%= App.config.theme %>.min.css" rel="stylesheet">

    <title><%= title %></title>
    
    <style>
      h1 {
        font-size: 3em;
        margin: 40px 0 20px 0;
      }
      .page-header {
        margin-bottom: 30px;
      }
      .lead {
        font-size: 1.5em;
      }
      .table th {
        border-top: none;
      }
      h2 {
        margin-bottom: 16px;
      }
      form {
        margin-top: 30px;
      }
    </style>
  </head>
  <body>
    <div class="container">
    
      <div class="page-header">
        <h1><a href="/"><%= brand %></a></h1>
        <p class="lead"><%= slogan %></p>
      </div>
      
      <hr class="my-4"/>
    
    <% const content = include('./pages/' + page, {props, t, user, App}) %>
    
    <% if (!outsideOfContainer) { %>
      <%- content %>
    </div>
    <% } else { %>
    </div>
    <%- content %>
    <% } %>
  </body>
</html>
 
