<%
  const i18n = config.i18n
%>

<!DOCTYPE html>
<html lang="<%= config.locale %>">
  <head>
    <%- include('commenHead') %>
    <title><%=i18n.title + ' - ' + i18n.profile.title %></title>
  </head>
  <body>
    <div class="container">
      <%- include('status', {i18n, user}) %>
      <%- include('header', {i18n}) %>
      <hr />
      
      <h2><%- i18n.profile.title%></h2>
      
      <p><% user.name %></p>
      <p>TODO</p>
      <p><% room %></p>
      
      <div style="height:40px"></div>
      
      <p><a href="/map" class="btn btn-primary"><%= i18n.back %></a></p>
      
      <div style="height:40px"></div>
      
    </div>
  </body>
</html>
