<%
const i18n = config.i18n
const register = i18n.register
%>

<!DOCTYPE html>
<html lang="<%= config.locale %>">
  <head>
    <%- include('commenHead') %>
    <title><%= i18n.title + ' - ' + i18n.register.title %></title>
  </head>
  <body>
    <div class="container">
      <%- include('header', {i18n}) %>
      <hr />
      <br>
      <h2><%= room ? i18n.join.title + ' \'' + room + '\'' : register.title %></h2>
      <br>
      <% if (messages.length > 0) { %>
        <div class="alert alert-danger"><%-messages.join('<br>')%></div>
      <% } %>
      <form method="post" class="form-horizontal" autocomplete="off">
        <fieldset>
          <div class="form-group">
            <label for="inputName" class="col-md-2 control-label"><%= register.username %></label>
            <div class="col-md-4">
              <input class="form-control" id="inputName" type="text" name="username" value="<%=values.username%>">
              <small><%= register.usernameNote %></small>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPw1" class="col-md-2 control-label"><%= register.password %></label>
            <div class="col-md-4">
              <input class="form-control" id="inputPw1" type="password" name="pw1" value="<%=values.pw1%>">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPw2" class="col-md-2 control-label"><%= register.repeatPassword %></label>
            <div class="col-md-4">
              <input class="form-control" id="inputPw2" type="password" name="pw2" value="<%=values.pw2%>">
              <small><%= register.passwordNote %></small>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <p><%= register.noteOn %> <a href="/datenschutz"><%= register.dataProtection %></a></p><br>
              <a href="/" class="btn btn-primary"><%= register.back %></a>
              <button type="submit" class="btn btn-success"><%= register.go %></button>
            </div>
          </div>
          <input type="hidden" name="csrf" value="<%=token%>"/>
          <input type="hidden" name="room" value="<%=room%>" />
        </fieldset>
      </form>
    </div>
  </body>
</html>
