<%
const i18n = config.i18n
%>

<!DOCTYPE html>
<html lang="<%= config.locale %>">
  <head>
    <%- include('commenHead') %>
    <title><%= i18n.title + ' - ' + i18n.success.title%></title>
  </head>
  <body>
    <div class="container">
      <%- include('header', {i18n}) %>
      <hr />
      <br>
      <p><%=i18n.success.message%> [<a href="/"><%= i18n.success.login %></a>]</p>
    </div>
  </body>
</htm>
