
<h2><%= props.challenge.title %></h2>

<p>
  <% if (!props.correct) { %>
    <a href="<%=prefix%>/map"><%= t('back') %></a> |
  <% } %>
  <%= t('solvedBy', {count: props.solvedBy}) %> %>
</p>

<div style="height:16px"></div>

<% if (props.answer) { %>
  <p class="text-<%= props.correct ? App.config.styles.solutionClass_correct : App.config.styles.solutionClass_wrong %>">
    <strong>'<%= props.answer %>' <%= props.correct ? t('correct') : t('wrong') %></strong>
  </p>
<% } %>

<div style="height:16px"></div>

<% if (props.correct) { %>
  <p><a href="<%=prefix%>/map"><%= t('continue') %></a></p>
<% } else { %>
  <%- props.challenge.html %>
  <% if (!props.challenge.hidesubmit) { %>
    <form autocomplete="off" method="post" id="challenge_form">
      <input id="challenge_answer" type="text" name="answer">
      <input type="submit" id="challenge_submit" value="<%= t('go') %>">
    </form>
  <% } %>
<% } %>

<div style="height:500px"></div>
