
<h2><%= t.loginHeading %></h2>

<% if (props.invalidLogin) { %>
  <div class="alert alert-danger"><%= t.invalid %></div>
<% } %>

<form action="/login" method="post" autocomplete="off">

  <div class="form-group">
    <label><%= t.name %> <input class="form-control" type="text" name="username" value=""/></label>
    <span style="display:inline-block;width:10px;"></span>
    <label><%= t.password %> <input class="form-control" type="password" name="password" value=""/></label>
    <span style="display:inline-block;width:5px;"></span>
    <button type="submit" class="btn btn-success" style="margin-top:-4px"><%= t.go %></button>
  </div>
</form>

<p style="margin-bottom:20px;margin-top:20px;"><%= t.invite %> <a href="/register"><%= t.registerLink %></a></p>

<p>[<a href="/join"><%= t.joinRoom %></a>]</p>

<hr class="my-5"/>

<h2><%= t.hackerOfTheMonth %></h2>

<%- include('../highscoreTable', {users:props.users, t: App.config.i18n.highscore, user}) %>

<p>[<a href="/highscore"><%= t.showHighscore %></a>]</p>

<hr class="my-5"/>

<h2><%= t.rooms %></h2>

<p><%= t.inviteOrga %> <a href="/create"><%= t.createRoom %></a>.</p>

<hr class="my-5"/>

<p>
  <a href="/contact"><%= t.contactLink %></a> |
  <a href="/privacy"><%= t.privacyLink %></a> | 
  <a href="https://github.com/Entkenntnis/hack-engine" target="_blank"><%= t.github %></a> | 
  <%= t.version %>
</p>
