
<%- include('../statusBar', {t:App.config.i18n.statusBar, user}) %>

<style type="text/css">
  .no-underline { text-decoration: none !important; }
  body { background-image:url(<%- App.config.map.background %>) }
</style>

<div id="drawing" style="width:1600px;height:1200px;position:relative;">
  <%- props.map %>
  <span style="position:absolute;right:10px;bottom:10px;">
    <%= t.background %>
    <%- App.config.map.backgroundLicenseHtml %>
  </span>
</div>
