
<%- include('../statusBar', {user, t:App.config.i18n.statusBar}) %>

<h2><%- t.title%></h2>

<p><%= t.username %> <%= user.name %></p>
<p><%= t.score %> <%= user.score %></p>
<p><%= t.solved %> <%= props.solved%></p>
<p><%= t.lastActive %> <%= App.moment(user.updatedAt).fromNow() %> (<%= App.moment(user.updatedAt).format("LLLL") %>)</p>

<% if (props.room) { %>
<hr />

<p><%= t.room %> <%= props.room%></p>
<% if (user.session_phase === 'READY') { %>
  <p><%= t.sessionReady %></p>
  <p><a href="/startsession"><%= t.startSession%></a></p>
<% } %>
<% if (user.session_phase === 'ACTIVE') { %>
  <p><%= t.sessionActive %></p>
  <p><a href="/endsession"><%= t.endSession %></a></p>
<% } %>
<% if (user.session_phase === 'DONE') { %>
  <p><%= t.sessionDone %></p>
  <p><%= t.sessionScore %> <%= user.session_score %></p>
<% } %>


<% } %>

<%- include('../backButton', {t}) %>
