
<% if (props.messages.length > 0) { %>
  <div class="alert alert-danger"><%-props.messages.join('<br>')%></div>
<% } %>

<form method="post" autocomplete="off">
  <fieldset>
    <div class="form-group row">
      <label for="inputName" class="col-md-2 col-form-label"><%= t('username') %></label>
      <div class="col-md-5">
        <input
          class="form-control"
          id="inputName"
          type="text"
          name="username"
          value="<%=props.values.username%>"
          required
          maxlength="<%=App.config.accounts.maxUsername%>"
          pattern="<%=App.config.accounts.regex.source%>"
        >
        <small><%= t('usernameNote', {minUsername: App.config.accounts.minUsername}) %></small>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPw1" class="col-md-2 col-form-label"><%= t('password') %></label>
      <div class="col-md-5">
        <input
          class="form-control"
          id="inputPw1"
          type="password"
          name="pw1"
          value="<%=props.values.pw1%>"
          required
          maxlength="<%=App.config.accounts.maxPw%>"
        >
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPw2" class="col-md-2 col-form-label"><%= t('repeatPassword') %></label>
      <div class="col-md-5">
        <input
          class="form-control"
          id="inputPw2"
          type="password"
          name="pw2"
          value="<%=props.values.pw2%>"
          required
          maxlength="<%=App.config.accounts.maxPw%>"
        >
        <small><%= t('passwordNote', {minPassword: App.config.accounts.minPw}) %></small>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-5 offset-md-2">
        <p style="margin-top:8px;margin-bottom:16px;">
          <%- t('noteOn_', {link: `<a href="${prefix}/privacy">${ t('dataProtection') }</a>`}) %>
        </p>
        <button type="submit" class="btn btn-success"><%= t('go') %></button>
      </div>
    </div>
    <input type="hidden" name="csrf" value="<%=props.token%>"/>
    <input type="hidden" name="room" value="<%=props.room%>" />
  </fieldset>
</form>
